# Created by .ignore support plugin (hsz.mobi)
### Laravel template
.idea
.vscode/settings.json

.env
.sass-cache
.php-cs-fixer.cache
.php_cs.cache
.phpstorm.meta.php
.phpunit.result.cache

public/.sass-cache
!public/css/semantic_perso.css
!public/css/style.css
public/css
public/images/actors
public/images/.tmb
!public/images/actors/default_empty.jpg
public/images/.trash
!public/images/.trash/.gitkeep
public/images/articles
public/images/shows
!public/images/shows/default_empty.jpg
public/images/
public/img
*.mp3
*.wav

vendor/
!resources/views/vendor
!resources/lang/vendor
