# Created by .ignore support plugin (hsz.mobi)
### Laravel template
.idea
vendor/
.env
.sass-cache
.phpstorm.meta.php
!resources/views/vendor
!resources/lang/vendor

public/.sass-cache

!public/css/semantic_perso.css
!public/css/style.css
public/css
public/images/actors
public/images/.tmb
!public/images/actors/default_empty.jpg
public/images/.trash
!public/images/.trash/.gitkeep
public/images/articles
public/images/shows
!public/images/shows/default_empty.jpg
public/images/.tmb
public/images/
public/img
*.mp3
*.wav
