// Set colors in variables
$veryDarkBlueSA: #1b2e47;
$darkBlueSA: #213d64;
$blueSA: #1074b2;
$lightBlueSA: #d4e4f0;

$red: #DB2828;
$orange: #F2711C;
$yellow: #FBBD08;
$green: #21BA45;
$olive: #b5cc18 ;
$cyan: #00B5AD;
$blue: #2185D0;
$purple: #6435C9;
$violet: #A333C8;
$pink: #E03997;
$brown: #A5673F;
$grey: #767676;
$lightGrey: #b3b3b3;
$black: #1B1C1D;
$white: #FFFFFF;
$almostWhite: #f3f3f3;