@import "./colors";
@import "./mixins.scss";

@import "./admin.scss";
@import "./base_fiche.scss";
@import "./footer.scss";
@import "./header.scss";
@import "./header_list.scss";
@import "./profil.scss";
@import "./spoiler.scss";

/* TEXT COLORS AND FONT WEIGHT */
@include color("t-veryDarkBlueSA", $veryDarkBlueSA);
@include color("t-darkBlueSA", $darkBlueSA);
@include color("t-blueSA", $blueSA);
@include color("t-lightBlueSA", $lightBlueSA);
@include color("t-red", $red);
@include color("t-orange", $orange);
@include color("t-yellow", $yellow);
@include color("t-green", $green);
@include color("t-cyan", $cyan);
@include color("t-blue", $blue);
@include color("t-purple", $purple);
@include color("t-violet", $violet);
@include color("t-pink", $pink);
@include color("t-brown", $brown);
@include color("t-white", $white);
@include color("t-grey", $grey);
@include color("t-black", $black);

.t-bold { @include bold() }

/* LEFT BORDER COLOR */
@include leftBorderColor("lb-veryDarkBlueSA", $veryDarkBlueSA);
@include leftBorderColor("lb-darkBlueSA", $darkBlueSA);
@include leftBorderColor("lb-blueSA", $blueSA);
@include leftBorderColor("lb-lightBlueSA", $lightBlueSA);
@include leftBorderColor("lb-red", $red);
@include leftBorderColor("lb-orange", $orange);
@include leftBorderColor("lb-yellow", $yellow);
@include leftBorderColor("lb-green", $green);
@include leftBorderColor("lb-cyan", $cyan);
@include leftBorderColor("lb-blue", $blue);
@include leftBorderColor("lb-purple", $purple);
@include leftBorderColor("lb-violet", $violet);
@include leftBorderColor("lb-pink", $pink);
@include leftBorderColor("lb-brown", $brown);
@include leftBorderColor("lb-white", $white);
@include leftBorderColor("lb-grey", $grey);
@include leftBorderColor("lb-black", $black);

/* BUTTONS SA COLORS */
@include buttonColor("ui.button.blueSA", $blueSA, $white);
@include buttonColor("ui.button.darkBlueSA", $darkBlueSA, $white);
@include buttonColor("ui.button.lightBlueSA", $lightBlueSA, $black);

/* OVERLAYS */
@include overlay33Color("ol-veryDarkBlueSA", $veryDarkBlueSA);
@include overlay33Color("ol-darkBlueSA", $darkBlueSA);
@include overlay33Color("ol-blueSA", $blueSA);
@include overlay33Color("ol-lightBlueSA", $lightBlueSA);
@include overlay33Color("ol-red", $red);
@include overlay33Color("ol-orange", $orange);
@include overlay33Color("ol-yellow", $yellow);
@include overlay33Color("ol-green", $green);
@include overlay33Color("ol-olive", $olive);
@include overlay33Color("ol-cyan", $cyan);
@include overlay33Color("ol-blue", $blue);
@include overlay33Color("ol-purple", $purple);
@include overlay33Color("ol-violet", $violet);
@include overlay33Color("ol-pink", $pink);
@include overlay33Color("ol-brown", $brown);
@include overlay33Color("ol-white", $white);
@include overlay33Color("ol-grey", $grey);
@include overlay33Color("ol-black", $black);

/* MARGINS */
@for $i from 1 through 4 {
  @include margin($i);
  @include padding($i);
}

/* BLOCKQUOTE */
blockquote {
  font-style: italic;
  padding-left: 20px;
  border-left: #ccc 4px solid;
}

/* TABLE */
// Remove border for basic table
.ui.basic.table {
  border: 0;
}

// Remove border top for some tables
.ui.basic.table tr td,
#topInfo table tr td,
#ListSeasons table tr td,
#ListAvis table tr td {
  border-top: 0;
}

// Center the content
.ui.center.aligned {
  text-align: center;
}

// Add margin to the accordion
.ui.fluid.styled.accordion, .ui.fluid.styled.accordion .accordion {
  margin-bottom: 1em;
}

// Change style of pagination
.ui.pagination.menu .active.item:hover {
  background-color: rgba(0,0,0,.05);
  color: rgba(0,0,0,.95);
}

/*
 COOKIES
 */
.ui.inline.cookie.nag { // Change style of the cookie nag
  min-height: inherit;
  background-color: $blueSA;
  border-radius: inherit;
  &:hover {
    background-color: $blueSA;
  }
}

// FIX FOR SEMANTIC UI VERTICAL DIVIDER
.ui.grid > .column + .divider, .ui.grid > .row > .column + .divider {
  left: 50%;
}

// Remove margin top for header in grid
.grid.header {
  margin-top: 0 !important;
}

// Remove margin-top for datatables
.dataTables_wrapper .dataTables_paginate .paginate_button{
  margin-left: 0 !important;
}
.divParentShareIcon {
  position: fixed;
  left: auto;
  z-index: 2;
  .divChildShareIcon {
    display: block;
    position: absolute;
    ul {
      padding-left: 2px;
    }
    li {
      list-style: none; /* pour enlever les puces sur IE7 */
      margin-top: 2px;
      .comment.icon {
        background-color: $darkBlueSA !important;
      }
    }
  }
  #social-links {
    text-align: right;
    ul {
      padding-left: 2px;
    }
    li {
      list-style: none; /* pour enlever les puces sur IE7 */
      margin-top: 2px;
      font-size: 3em;
    }
  }
}

#LeftBlock.article {
  .segment {
    padding: 0;
    .title {
      padding: 1em;
    }
    .imageArticle {
      img {
        height: 100%;
        width: 100%;
        position: absolute;
        object-fit: cover;
        -webkit-filter: blur(2px) opacity(1);
        filter: blur(2px) opacity(1);
        transform: scale(1);
        left: 0;
        top: 0;
      }
      &:after {
        content: '\A';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.5);
        opacity: 1;
      }
    }
    .topInfoArticle {
      #hiddenInfo {
        visibility: hidden;
      }
    }
    .title, .chapo {
      h1 {
        color: white;
        font-size: 3em;
        text-shadow: 1px 1px 2px $black;
      }
      .row.readingTime {
        padding-top: 0;
      }
      .row.bottom {
        margin-left: 1em;
        margin-right: 1em;
        .column.authors {
          display: block;
          top: 50%;
        }
      }
      color: white;
      width: 100%;
      position: absolute;
      z-index: 1;
      text-align: center;
      text-shadow: 1px 1px 2px $black;
    }
    img {
      max-width: 100%;
    }
  }
  .article.content {
    margin-top: 2em;
    padding-top: unset;
    .write.icon {
      font-size: 1em;
    }
  }
  .article.content, #LastComments  {
    padding: 2em;
    text-align: justify;
  }
  .noComment {
    padding: 1em;
  }
  #LastComments {
    background: none;
    padding: 0;
    .column.center.aligned {
      text-align: center;
      padding: 2em;
    }
    .comment:nth-child(odd) {
      background: $lightBlueSA;
    }
    .comment .comments .comment {
      background: none;
    }
    .comment {
      padding: 1em;
      .actions {
        margin-left: 3.9em;
      }
      .showReactions {
        margin-left: 1em;
      }
    }
  }
  #ListAvis {
    padding: 1em;
    background: $veryDarkBlueSA;
    .header {
      background: none;
    }
    h2 {
      color: $white;
    }
  }
  .description {
    font-style: italic;
  }
}

#RightBlock.article {
  .segment.linkedShow {
    background: none;
    .articleShow {
      margin-top: 1rem;
      margin-left: 1em;
    }
    .articleShowImage {
      height: 100px;
      width: 100%;
      padding: 0;
      img {
        height: 100px !important;
        width: 100%;
        object-fit: cover;
      }
    }
    padding: 0;
    #linkedObject .row:nth-child(odd) {
      background: $lightBlueSA;
    }
    #linkedObject .row:nth-child(even) {
      background: $white;
    }
    #linkedObject {
      margin-right: 0;
    }
    #linkedObject .row {
      a { // Set color to black and a solid bottom border
        color: $black;
        border-bottom: 1px solid $black ;
      }
    }
  }
}

.ui.comments {
  padding: 2rem;
  max-width: 100%;
}

.ui.right.floated {
  float: right;
}

#LastArticles {
  &.segment {
    margin-top: 2em;
  }
  .row {
    &.button {
      margin-top: 2em;
    }
    &.objectArticle {
      margin-top: 2em;
    }
  }
}

#LeftBlock.profile {
  margin-right: 0;
}

#cardsRates {
  margin-top: 5px;
  img {
    height: 100px;
  }
}

.divMiddleAligned {
  margin: auto !important;
}

.AvisBox .threaded.comments {
  padding: 0;
}

.left.aligned.actions {
  text-align: left;
}

.divReactions {
  padding-top: 5px;
  text-align: left;
}

.flex-center {
  display: flex;
}

.ui.pagination.menu .active.item:hover {
  background-color: $blueSA;
  border: none;
  color: white;
}

table.dataTable.no-footer {
  border-bottom: 1px solid rgba(34,36,38,.15);
}