@import "./colors";
@import "./mixins.scss";

@import "./admin.scss";
@import "./base_fiche.scss";
@import "./footer.scss";
@import "./header.scss";
@import "./header_list.scss";
@import "./profil.scss";
@import "./spoiler.scss";

/* TEXT COLORS AND FONT WEIGHT */
@include color("t-veryDarkBlueSA", $veryDarkBlueSA);
@include color("t-darkBlueSA", $darkBlueSA);
@include color("t-blueSA", $blueSA);
@include color("t-lightBlueSA", $lightBlueSA);
@include color("t-red", $red);
@include color("t-orange", $orange);
@include color("t-yellow", $yellow);
@include color("t-green", $green);
@include color("t-cyan", $cyan);
@include color("t-blue", $blue);
@include color("t-purple", $purple);
@include color("t-violet", $violet);
@include color("t-pink", $pink);
@include color("t-brown", $brown);
@include color("t-white", $white);
@include color("t-grey", $grey);
@include color("t-black", $black);

.t-bold { @include bold() }

/* LEFT BORDER COLOR */
@include leftBorderColor("lb-veryDarkBlueSA", $veryDarkBlueSA);
@include leftBorderColor("lb-darkBlueSA", $darkBlueSA);
@include leftBorderColor("lb-blueSA", $blueSA);
@include leftBorderColor("lb-lightBlueSA", $lightBlueSA);
@include leftBorderColor("lb-red", $red);
@include leftBorderColor("lb-orange", $orange);
@include leftBorderColor("lb-yellow", $yellow);
@include leftBorderColor("lb-green", $green);
@include leftBorderColor("lb-cyan", $cyan);
@include leftBorderColor("lb-blue", $blue);
@include leftBorderColor("lb-purple", $purple);
@include leftBorderColor("lb-violet", $violet);
@include leftBorderColor("lb-pink", $pink);
@include leftBorderColor("lb-brown", $brown);
@include leftBorderColor("lb-white", $white);
@include leftBorderColor("lb-grey", $grey);
@include leftBorderColor("lb-black", $black);

/* BUTTONS SA COLORS */
@include buttonColor("ui.button.blueSA", $blueSA, $white);
@include buttonColor("ui.button.darkBlueSA", $darkBlueSA, $white);
@include buttonColor("ui.button.lightBlueSA", $lightBlueSA, $black);

/* OVERLAYS */
@include overlay33Color("ol-veryDarkBlueSA", $veryDarkBlueSA);
@include overlay33Color("ol-darkBlueSA", $darkBlueSA);
@include overlay33Color("ol-blueSA", $blueSA);
@include overlay33Color("ol-lightBlueSA", $lightBlueSA);
@include overlay33Color("ol-red", $red);
@include overlay33Color("ol-orange", $orange);
@include overlay33Color("ol-yellow", $yellow);
@include overlay33Color("ol-green", $green);
@include overlay33Color("ol-cyan", $cyan);
@include overlay33Color("ol-blue", $blue);
@include overlay33Color("ol-purple", $purple);
@include overlay33Color("ol-violet", $violet);
@include overlay33Color("ol-pink", $pink);
@include overlay33Color("ol-brown", $brown);
@include overlay33Color("ol-white", $white);
@include overlay33Color("ol-grey", $grey);
@include overlay33Color("ol-black", $black);

/* MARGINS */
@for $i from 1 through 4 {
  @include margin($i);
  @include padding($i);
}

/* BLOCKQUOTE */
blockquote {
  font-style: italic;
  padding-left: 20px;
  border-left: #ccc 4px solid;
}

/* TABLE */
// Remove border for basic table
.ui.basic.table {
  border: 0;
}

// Remove border top for some tables
.ui.basic.table tr td,
#topInfo table tr td,
#ListSeasons table tr td,
#ListAvis table tr td {
  border-top: 0;
}

// Center the content
.ui.center.aligned {
  text-align: center;
}

// Add margin to the accordion
.ui.fluid.styled.accordion, .ui.fluid.styled.accordion .accordion {
  margin-bottom: 1em;
}

// Change style of pagination
.ui.pagination.menu .active.item:hover {
  background-color: rgba(0,0,0,.05);
  color: rgba(0,0,0,.95);
}

/*
 COOKIES
 */
.ui.inline.cookie.nag { // Change style of the cookie nag
  min-height: inherit;
  background-color: $blueSA;
  border-radius: inherit;
  &:hover {
    background-color: $blueSA;
  }
}

// FIX FOR SEMANTIC UI VERTICAL DIVIDER
.ui.grid > .column + .divider, .ui.grid > .row > .column + .divider {
  left: 50%;
}

// Remove margin top for header in grid
.grid.header {
  margin-top: 0 !important;
}

// Remove margin-top for datatables
.dataTables_wrapper .dataTables_paginate .paginate_button{
  margin-left: 0 !important;
}

#LeftBlock.article {
  .segment {
    padding: 0;
    .title, .chapo {
      h1 {
        color: white;
        font-size: 3em;
        text-shadow: 1px 1px 2px $black;
      }
      color: white;
      width: 100%;
      position: absolute;
      z-index: 1;
      text-align: center;
      text-shadow: 1px 1px 2px $black;
    }
  }
  .article.content {
    padding: 2em;
    text-align: justify;
  }
  .imageArticle {
      height: 100%;
      width: 100%;
      -webkit-filter: blur(2px) opacity(1);
      filter: blur(2px) opacity(1);
      transform: scale(1);
    img {
      height: 250px !important;
      width: 100%;
      object-fit: cover;
    }
  }
  .imageArticle:after {
    content: '\A';
    position: absolute;
    width: 100%;
    height: 250px;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 1;
  }
  #social-links {
    display: inline-block;
    text-align: right;
    ul {
      padding-left: 2px;
    }
    li {
      display: inline;
      list-style: none; /* pour enlever les puces sur IE7 */
      margin: 2px;
      font-size: 3em;
    }
  }
  .description {
    font-style: italic;
  }
}

.ui.comments {
  padding: 2rem;
  max-width: 100%;
}