/* --------------------------------- */
/* Extensions Knacss                 */
/* --------------------------------- */
.w15 {
    width: 15%; }

.w85 {
    width: 85%; }

/* --------------------------------- */
/* Personnalisations                 */
/* --------------------------------- */
/* --------------------------------- */
/* HTML                              */
/* --------------------------------- */
#html-admin{
    height: 100%;
}

/* --------------------------------- */
/* Body                              */
/* --------------------------------- */
#body-admin{
    height: 100%;

}

/* --------------------------------- */
/* Header - Barre du haut            */
/* --------------------------------- */
#header-admin{
    border-bottom : 1px grey solid;
    min-height: 7%;
    position: fixed;
    left : 15%;
    background-color: #f1f1f1;
    z-index: 10;
}

#header-grid-admin{
    
}

/* Breadcrumbs */
#header-beadcrumbs-admin {
    list-style: none;
}

#header-beadcrumbs-admin li {
    display: inline-block;
}

#header-beadcrumbs-admin a {
    text-decoration: none;
}

#header-beadcrumbs-admin a:hover, #header-beadcrumbs-admin a:focus, #header-beadcrumbs-admin a:active {
    background-color: #0676b6;
    color: white;
}

#header-beadcrumbs-admin li + li:before {
    color: #ccc;
    content: "/\00a0";
    padding: 7%
}

#header-beadcrumbs-admin .active {
    color: #777;
}

/* User Header */
#header-user-admin{
    list-style: none;
    padding-left: 0em;
    padding-right: 2em;
}

#header-beadcrumbs-admin li {
    display: inline-block;
}

#header-beadcrumbs-admin li + li:before {
    padding: 0 0 0 5px;
}

/* --------------------------------- */
/* NavBar - Barre sur le côté gauche */
/* --------------------------------- */
#nav-admin {
    border-right : 1px grey solid;
    height: 100%;
    position: fixed;
    background-color: #f1f1f1;
}

#logo-admin{
    display: block;
    margin : 0 auto;
    margin-top : 2em;
}

#nav-ul-admin{
    list-style: none;
    padding-left: 0em;
    margin-top: 2em;
}

#nav-a-admin{
    text-decoration: none;
    display: block ;
}

#nav-a-admin:hover, #nav-a-admin:focus, #nav-a-admin:active {
    background-color: #0676b6;
    color: white;
}

#nav-li-admin:first-child {
    border-top : 1px grey solid;
}

#nav-li-admin{
    border-bottom : 1px grey solid;
}

/* --------------------------------- */
/* Article                           */
/* --------------------------------- */
#article-admin{
    min-height: 93%;
    position: relative;
    top : 7%;
}

#content-h1-admin{
    color: #0676b6;
}

