/* --------------------------------- */
/* Extensions Knacss                 */
/* --------------------------------- */
.w15 {
    width: 15%; }

.w85 {
    width: 85%; }

.h50p {
    height: 50px;
}

/* --------------------------------- */
/* Personnalisations                 */
/* --------------------------------- */
/* --------------------------------- */
/* HTML                              */
/* --------------------------------- */
#html-admin{
    height: 100%;
}

/* --------------------------------- */
/* Body                              */
/* --------------------------------- */
#body-admin{
    height: 100%;

}

/* --------------------------------- */
/* Header - Barre du haut            */
/* --------------------------------- */
#header-admin{
    border-bottom : 1px grey solid;
    position: fixed;
    left : 15%;
    background-color: #f1f1f1;
    z-index: 10;
}

/* Breadcrumbs */
#header-beadcrumbs-admin {
    margin: auto;
}

#header-beadcrumbs-admin a {
    text-decoration: none;
}

#header-beadcrumbs-admin li {
    display: inline-block;
    margin-left: 1rem;
    width: auto;
}

#header-beadcrumbs-admin a:hover, #header-beadcrumbs-admin a:focus, #header-beadcrumbs-admin a:active {
    color: #0676b6;
}

#header-beadcrumbs-admin li:before{
    margin-right: 1rem;
}

#header-beadcrumbs-admin li + li:before {
    color: #ccc;
    content: "/\00a0";
}

#header-beadcrumbs-admin li:last-child {
    color: #777;
}

/* User Header */
#header-user-admin{
    list-style: none;
    margin: auto;
    padding-right: 2em;
}

#header-user-admin li {
    display: inline-block;
    margin-left: 2rem;
    width: auto;
    line-height: 50px;
}

.wiki{
    text-decoration: none;
    display: block ;
}

.wiki:hover, .wiki:focus, .wiki:active {
    background-color: #0676b6;
    color: white;
}

#header-dropdown-button {
    height: 50px;
    border: none;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
}

/* The container <div> - needed to position the dropdown content */
#header-dropdown-admin {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
#header-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    right: 0;
    min-width: 200px;
    line-height: normal;
    padding: 1rem;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

#header-dropdown-content li {
    line-height: 30px;
}

#header-dropdown-content a{
    margin-bottom: 5px;
    display: block;
    text-decoration: none;
}

#header-dropdown-content a:last-child{
    margin-bottom: 0;
}

#header-dropdown-content a:hover {
    background-color: #f1f1f1
}

#header-dropdown-admin:hover{
    background-color: #0676b6;
    color: white;
}

    /* Show the dropdown menu on hover */
#header-dropdown-admin:hover #header-dropdown-content {
    display: block;
}

/* --------------------------------- */
/* NavBar - Barre sur le côté gauche */
/* --------------------------------- */
#nav-admin {
    border-right : 1px grey solid;
    height: 100%;
    position: fixed;
    background-color: #f1f1f1;
}

#logo-admin{
    display: block;
    margin: 2em auto 0;
}

#nav-ul-admin{
    list-style: none;
    padding-left: 0;
    margin-top: 2em;
}

#nav-a-admin{
    text-decoration: none;
    display: block ;
}

#nav-a-admin:hover, #nav-a-admin:focus, #nav-a-admin:active {
    background-color: #0676b6;
    color: white;
}

#nav-li-admin:first-child {
    border-top : 1px grey solid;
}

#nav-li-admin{
    border-bottom : 1px grey solid;
}

/* --------------------------------- */
/* Article                           */
/* --------------------------------- */
#article-admin{
    min-height: 93%;
    position: relative;
    top : 50px;
}

#content-h1-admin{
    color: #0676b6;
}