/*ADMIN*/
#menu-admin{
    border-radius: 0;
}

#div-bottom{
    border: none;
}

#table-show-admin thead th{
    background: #1074b2;
    color: white;
}

#table-show-admin_length {
    float: left;
    margin-bottom: 0.5em;
}

#table-show-admin_filter {
    float: right;
    margin-bottom: 0.5em;
}

#icon-wiki{
    margin-right: 0;
    margin-left: 0.5em;
}

#action{
    color: black;
}

#action:hover{
    color: #1074b2;
}

#table-show-admin_paginate{
    float: right;
    margin-bottom: 3em;
}

#table-show-admin_info{
    float: left;
}

#table-show-admin_paginate span{
    display: inherit;
}

.ui.pagination.menu .item:last-child:before {
    display: inline-block;
}

#admin-add{
    margin-bottom: 2em;
}

#admin-titre{
    margin-bottom: 2em;
}

.pushed {
    margin-left : 15rem;
}

.padding-article{
    padding: 2rem;
}

#message-top{
    margin-bottom : 1rem;
}

.moveSeason:hover{
    cursor: grab;
}

.moveEpisode:hover{
    cursor: grab;
}

.portlet-placeholder {
    border: 1px dotted black;
    background-color: #1074b2;
    margin: 0 1em 1em 0;
    height: 50px;
}

/*SHOW*/
.ui.secondary.pointing.menu .active.item {
    border-color: #1074b2;
}

.ui.secondary.pointing.menu .item {
    color: #444444;
    margin: auto 0 0 0;
    border-bottom-width: 4px;
}

.ui.secondary.pointing.menu .item:hover {
    margin: auto 0 0 0;
    border-bottom-width: 4px;
    border-color: #1074b2;
}

.ui.secondary.pointing.menu img{
    padding: inherit;
    margin: 2px 10px 2px;
}

.ui.secondary.pointing.menu {
    border-bottom: 1px solid rgba(34, 36, 38, 0.15);
}

#footer {
    background: #213d64;
    padding: 4em 0em 4em 0em;
    width: 100%;
    position: absolute;
    bottom: 0;
}

#footer ul {
    color: white;
}

#footer h3 {
    color: white;
}

#footer i.icon {
    color: #213d64;
    background-color: white;
}

#footer i.circular.icon {
    box-shadow: none;
}

#footer ul.ui.list li:before, .ui.bulleted.list .list > .item:before, .ui.bulleted.list > .item:before {
    content: '■';
    color: #1074b2;
}